//color-variabels
$callToAction: rgb(79, 112, 156);
$primary: rgb(240, 240, 240);
$primaryHover: rgb(28, 59, 99);
$primaryBright: rgb(255, 255, 255);

$secondary: rgb(33, 53, 85);
$secondaryHover: rgb(72, 94, 129);